@import url('https://fonts.googleapis.com/css?family=Arimo');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Arimo', system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    user-select: none;
}


:root {
  font-family: 'Arimo', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  overflow: hidden;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
